/* variables */

:root {
    --color-pink: #ff6395;
    --color-barbiePink: #e0218a;
    --color-lightPink: #e25098;
    --color-mexPink: #e4007c;
    --color-palePink: #ffc0cb;
    --shadow: rgba(0, 0, 0, 0.5);
    --color-white: #fffaf0;

    --text-header: "Press Start 2P", sans-serif;
    --text-body: "VT323", monospace;
    --text-header2: "New Rocker", sans-serif;
}
