.inventory-item {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.inventory-item:hover {
    border-color: #888;
}

.inventory-item.selected {
    border-color: var(--color-mexPink);
    background-color: var(--color-palePink);
    transform: scale(1.05);
}

