/* button hover fx */
button {
    font-family: var(--text-body);
    font-size: clamp(0.8rem, 2.2vw, 1.1rem);
    background-color: black;
    color: var(--color-white);
    padding: 10px 14px;
    border: 2px solid var(--color-white);
    cursor: pointer;
    width: clamp(120px, 35vw, 220px);
}

button:hover {
    border-color: var(--color-pink);
    color: var(--color-pink);
}
